APP_SECRET=use_a_secure_random_string_in_production
DATABASE_URL="postgresql://find:this@in.supabase.dashboard:6543/postgres"

SUPABASE_URL=https://uasshkfuiyslfhaaddrb.supabase.co
SUPABASE_KEY=find_in_supabase


VITE_SUPABASE_URL=your_url_here
VITE_SUPABASE_ANON_KEY=your_key_here